.Rproj.user
.Rhistory
.RData
.Ruserdata
/reports
/inst
/test_plots
/test_data
/R_old
/src
/.local
/windows
/wc10
Env.RData
/data/*.old
docs
*.csv
make_hexSticker.R
Virtual_species_create.R
Virtual_species_SDM.R
vs_script.R
.gif
.yml
.png
